<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Views Part 1</title>
</head>

<body>
    <h1>Posts list</h1>
      <!-- Start of Django template loop to display each post in object_list -->
    {% for post in object_list %}
       <!-- Displays the title of the current post -->
    <h2>{{post.title}}</h2>
      <!-- Displays the excerpt/summary of the current post -->
    <p>{{post.excerpt}}</p>
       <!-- Displays the author of the current post -->
    <p>Author: {{post.author}}</p>
        <!-- End of Django template loop -->
    {% endfor %}
</body>

</html>