body {
    background-color: #F9FAFC;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #3939a2;
}

.red-a {
    color: #ba1222;
}

.flag-icon {
    height: 1.25rem;
    width: auto;
    border-radius: 0.1875rem; /* or 50% if you want it circular */
  }

.navbar .navbar-text {
    font-family: Lato, sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: #3939a2 !important;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #3939a2 
}

.main-bg {
    background-color: #d5f0f2;
}

.card {
    border: none;
    background-color: #d5f0f2;
}

.card-hover:hover {
    transform: scale(1.02);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

.image-container {
    position: relative;
}
/*
.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #188181;
}
*/
.scale {
    width: 100%;
    height: auto;
}

.badge.text-bg-info {
    background-color: #17a2b8 !important; /* Bootstrap's info color */
    color: white !important; /* Ensure the text is white */
}

.masthead {
    display: flex;
    flex-direction: row; /* Default: text beside image */
    align-items: center;
    justify-content: space-between;
    margin-top: 0.625rem;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: auto;
}

.masthead-text {
    background-color: #406b99;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0%;
    height: 100%;
    width: 0%;
    background: #445261;
    z-index: 100;
}

.profile-image {
    width: 80%;
}

.post-link {
    text-decoration: none;
    color: #1b1b1c;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}


.admin-options {
    position: absolute; /* Remove the admin options from the normal document flow */
    bottom: 0; /* Positions the buttons at the bottom of the masthead */
    left: 0; /* Positions the buttons at the left of the masthead */
    padding: 0.625rem; /* Adds some space around the buttons */
  }
  
  .admin-options a {
    margin-right: 0.625rem; /* Adds space between the buttons */
  }

.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
    border: 0.0625rem solid #00000033;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
    border: 0.0625rem solid #000000dc;
}

.link {
    color: #E84610;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.reaction-buttons {
    display: flex;
    gap: 1rem;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    align-items: center;
    justify-content: flex-start; /* You can change this to 'center' or 'flex-end' */
}

.reaction-buttons button {
    background-color: #f0f0f0;
    border: 0.0625rem solid #ccc;
    border-radius: 0.5rem;
    padding: 0.25rem 0.625rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reaction-buttons button:hover {
    background-color: #e0e0e0;
}

.reaction-buttons .like-count,
.reaction-buttons .dislike-count {
    margin-left: 0.3125rem;
    font-weight: bold;
}

.reaction-button.active-reaction {
  border-color: gold;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #dc3545;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.btn-secondary,
.btn-secondary {
    background-color: #188181;
    color: #fff;
}

.btn-secondary:hover,
.btn-secondary:active {
    background-color: #fff;
    color: #23BBBB;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}


/* Responsive switch: Stack text above image */
@media screen and (max-width: 768px) {
    .masthead {
        flex-direction: column; /* Stack items vertically */
        text-align: center; /* Optional: center text */
    }

    .masthead-image img {
        width: 100%; /* Responsive full width image */
        height: auto;
    }
}

